<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "nafi.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, Ben nafi :)</h1>
		<p>Rails kodlayarak bu siteyi yapmaya çalıştım.</p>
		<p>Burada yaprıklarımı anlatmaya çalışacağım.</p>
		<p>Beni takip edin.</p>
	</div>
</div>